body{
	background: #fff;
}
.wrap1200{
	background: #eee;
	padding: 15px;
	box-sizing: border-box;
}
.biao-title ul.clearfix li,.biao-title .fenlei ol li{
	float: left;
}
.biao-title ul.clearfix li a{   
    display: inline-block;
    position: relative;
    padding: 15px 20px 15px 0;
    font-size: 20px;
}
.biao-title ul.clearfix li a.active,.biao-title .fenlei ol li.lei.active,.biao-title .fenlei ol li.all.active{
	color:#169BD5;
}
.biao-title .fenlei ol li{
	padding: 5px 20px 5px 0;
	color:#000;
}
.biao-title .fenlei ol li label{
	 cursor: pointer;
}
.biao-title .fenlei ol li h2{
	font-size: 17px;
}
/*分页*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #23527c;
  cursor: not-allowed;
}
.pagebox{
	display: inline-block;
    height: 34px;
    line-height: 34px;
    margin-left: 20px;
}
.now-page{width: 40px;text-align: center;border:1px solid #ddd;margin: 0 10px;}
.pagebox .go{background: #ddd;
padding: 0 10px;
cursor: pointer;}
.wrap1200 .inform-list ul li{
    float: left;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.wrap1200 .inform-list{
  border-bottom: 1px solid #ddd;
}
.wrap1200 .inform-list ul li.active{
    color: #169BD5;
}
.wrap1200 .box1 ol li{
    display: float;
    width: 33%;
    display: inline-block;
    padding-top: 20px;
}
.wrap1200 .box1 ol li div{
    display: inline-block;
}
.wrap1200 .box1 ol li div img{
    width: 80px;
}
.wrap1200 .box1 ol li div.sums{
    height: 60px;
    width: 143px;
    text-align: center;
}
.wrap1200 .box1 ol li div.sums .shuliang{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.wrap1200 .box1 .module{
    background: #eee;
    margin:20px 0;
    padding: 20px;
    box-sizing: border-box;
}
.wrap1200 .box1 .module .moduleTitle{
    color: #000;
    font-size: 20px;
    line-height: 40px;
}
.wrap1200 .box1 .module li{
  padding: 4px 0;
}
.wrap1200 .box1 .module1 li p{
  display: inline-block;
  margin-right: 40px;
}
.wrap1200 .box2 ol{
  padding: 15px 0;
  /*border-bottom: 1px solid #ddd;*/
  font-size: 18px;
}
.wrap1200 .box2 ol li,.wrap1200 .box2 ul li{
  float: left;
  display: inline-block;
  width: 20%;
  text-align: center;
}
.wrap1200 .box2 ul{
  padding: 10px 0;
}

/**我的券包**/
.bouns-item{
  width: 381px;
  height: 200px;
  background: url(../images/user_bouns_bg.png) no-repeat center;
  background-size: 100%;
  margin: 10px 29px 30px 18px;
  float: left;
  position: relative;
  overflow: hidden;
}
.coupon-item{
  width: 390px;
  height: 180px;
  background: url(../images/user_coupon_bg.png) no-repeat center;
  background-size: 100%;
  margin: 10px 29px 30px 18px;
  float: left;
  position: relative;
  overflow: hidden;
}
.djh-logo{
  background: url(../images/bouns_djh.png.png) no-repeat center;
  background-size: 100%;
  width: 150px;
  height: 153px;
  position: absolute;
  right: -45px;
  top: -38px;
  z-index: 99;
}
.ysy-logo{
  background: url(../images/bouns_ysy.png) no-repeat center;
  background-size: 100%;
  width: 150px;
  height: 153px;
  position: absolute;
  right: -45px;
  top: -38px;
  z-index: 99;
}
.ygq-logo{
  background: url(../images/bouns_ygq.png) no-repeat center;
  background-size: 100%;
  width: 150px;
  height: 153px;
  position: absolute;
  right: -45px;
  top: -38px;
  z-index: 99;
}
.coupon-item .ysy-logo,.coupon-item .ygq-logo{
  top: -48px;
}
.bouns-box{
  padding:32px 66px ;
}
.coupon-item .bouns-box{
  padding: 24px 40px;
}
.bouns-box .bouns-type{
  color: #222;
  font-size: 14px;
  line-height: 15px;
}
.bouns-box .bouns-money{
  font-size: 30px;
  color: #f13f3f;
  font-size: 40px;
  font-weight:bold ;
  line-height: 40px;
  margin: 14px 0 20px 0;
}
.bouns-box .bouns-money span{
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
  line-height: 37px;
}
.bouns-box .limit-money,.bouns-box .exp-time{
  font-size: 15px;
  color: #666;
  line-height: 28px;
}
.bouns-box .limit-money span,.bouns-box .exp-time span{
  font-size: 14px;
}
.bouns-box .use-btn{
  width: 98px;
  height: 38px;
  line-height: 38px;
  position: absolute;
  right: 20px;
  top: 34px;
  border: 1px solid #f13f3f;
  color: #f13f3f;
  font-size: 15px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer;
}
.coupon-item .use-btn{
  top: 71px;
}
.get-voucher-more{
  width: 198px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #f13f3f;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 20px auto;
  color: #f13f3f;
  cursor: pointer;
  display: none;
}
.bouns-tip{
  background: #fbf9e4;
  padding: 42px 60px;
  margin-bottom: 10px;
}
.bouns-tip p{
  line-height: 36px;
  color: #feae00;
  font-size: 16px;
}
#loading{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#loading img{
  display: block;
  margin: 25% auto 0 auto;
}