<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管金贷-保证标</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list.css">
</head>

<body>
    <!-- 引入公共头部head.html -->
    <iframe src='head.html' width='100%' height='153px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <!-- 内容 -->
    <div class="wrap1200" style="background: #fff;">
        <div class="biao-title">
            <!-- title-->
            <ul class="clearfix">
                <li><a class="active" href="javascript:;">保证标</a></li>
                <li><a href="javascript:;">抵押标</a></li>
                <li><a href="javascript:;">金融标</a></li>
                <li><a href="javascript:;">转让标</a></li>
            </ul>
            <!-- 分类-->
            <div class="fenlei">
                <ol class="loantime clearfix">
                    <li class="title"><h2>项目状态</h2></li>
                    <li class="all all1 active">
                        <label>
                            <input class="input active" name="loantime" type="checkbox" value="-1" checked="checked" id="all">全部
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="loantime" type="checkbox" value="1"  id="">招标中
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="loantime" type="checkbox" value="2"  id="">还款中
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="loantime" type="checkbox" value="3"  id="">已还款
                        </label>
                    </li>
                </ol>
                <ol class="repaymentpro clearfix">
                    <li class="title"><h2>年化收益</h2></li>
                    <li class="all all2 active">
                        <label>
                            <input class="input active" name="repaymentpro" type="checkbox" value="-1" checked="checked" id="all2">全部
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="repaymentpro" type="checkbox" value="1"  id="">9%以下
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="repaymentpro" type="checkbox" value="2"  id="">9-13%
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="repaymentpro" type="checkbox" value="3"  id="">13%-16%
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="repaymentpro" type="checkbox" value="4"  id="">16%-20%
                        </label>
                    </li>
                </ol>
                <ol class="tstatus clearfix">
                    <li class="title"><h2>项目状态</h2></li>
                    <li class="all all3 active">
                        <label>
                            <input class="input active" name="tstatus" type="checkbox" value="-1" checked="checked" id="all3">全部
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="tstatus" type="checkbox" value="1"  id="">3个月以下
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="tstatus" type="checkbox" value="2"  id="">3-6个月
                        </label>
                    </li>
                    <li class="lei">
                        <label>
                            <input class="input" name="tstatus" type="checkbox" value="3"  id="">7-12个月
                        </label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- 列表 -->
    <div class="listBaozheng clearfix wrap1200">
        <div class="listchild">
            <div class="listLift">
                <ul class="baozhangList">
                    <li>
                        <a href="">
                            <ul>
                                <li class="baozhang1">
                                    <div><h1>名称</h1></div>
                                    <div class="juan"><span>加息券</span><span>现金券</span><span>可转让</span></div>
                                    <div class="jindu">
                                        <p><span style="width: 20%"></span></p>5%
                                    </div>
                                </li>
                                <li class="baozhang2">
                                    <div>年化收益</div>
                                    <div>项目期限</div>
                                    <div>项目总额</div>
                                    <div>还需：<span class="haixu">875300.00</span>元</div>
                                </li>
                                <li class="baozhang3">
                                    <div><h1><span class="size baifenbi">12.00%</span></h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div class="zhuangtai"><button>立即投资</button></div>
                                </li>   
                            </ul>       
                        </a>
                    </li>
                </ul>
                <ul class="baozhangList noneboder">
                    <li>
                        <a href="">
                            <ul>
                                <li class="baozhang1">
                                    <div><h1>名称</h1></div>
                                    <div class="juan"><span>加息券</span><span>现金券</span><span>可转让</span></div>
                                    <div class="jindu">
                                        <p><span style="width: 40%"></span></p>5%
                                    </div>
                                </li>
                                <li class="baozhang2">
                                    <div>年化收益</div>
                                    <div>项目期限</div>
                                    <div>项目总额</div>
                                    <div>还需：<span class="haixu">875300.00</span>元</div>
                                </li>
                                <li class="baozhang3">
                                    <div><h1><span class="size baifenbi">12.00%</span></h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div class="zhuangtai"><button>立即投资</button></div>
                                </li>   
                            </ul>       
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div class="page">分页</div>
    <!--引入foot.html公司介绍  -->
    <iframe src='foot.html' width='100%' height='292px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <!-- 兼容ie input placeholder-->
    <script src="../js/input.js"></script>
    <!-- 让不（完全）支持html5的浏览器“支持”html5标签 -->
    <script type="text/javascript" src="../js/html5shiv.js"></script>
</body>
</html>