<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管金贷-项目详情</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list.css">
</head>
<style>
    .baozhangList li a> ul li.baozhang1 div{width: 24%;}
    .baozhang1 .jindu p{margin-left:0;}
    .baozhangList .baozhang1 .juan span{width: 24%;}
</style>
<body>
    <!-- 引入公共头部head.html -->
    <iframe src='head.html' width='100%' height='153px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <!-- 内容 -->
    <div class="listBaozheng clearfix wrap1200" style="margin-top: 20px;background: #fff;">
        <div class="listchild">
            <div class="listLift">
                <ul class="baozhangList">
                    <li>
                        <a href="javascript:;">
                            <ul>
                                <li class="baozhang1">
                                    <div><h1>抵押标</h1></div>
                                    <div class="juan">
                                        <span>加息券</span><span>现金券</span><span>可转让</span>
                                    </div>
                                    <div></div>
                                    <div class="jindu">
                                        <p><span style="width: 20%"></span></p>5%
                                    </div>
                                </li>
                                <li class="baozhang2">
                                    <div>年化收益</div>
                                    <div>项目期限</div>
                                    <div>项目总额</div>
                                    <div>
                                        <em>可投金额：<span class="haixu">875300.00</span>元</em>
                                    </div>
                                </li>
                                <li class="baozhang3">
                                    <div><h1><span class="size baifenbi">12.00%</span></h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div class="zhuangtai">
                                        <!-- 未登录 -->
                                        <em>账户余额：
                                            <span>
                                                <b style="color:#FF6633" onclick="javascript:window.location.href='login.html'">登录</b>后可查看
                                            </span>
                                        </em>
                                        <!-- 已登录 -->
                                        <!--<em>可投金额： <span class="haixu">875300.00</span>元</em>-->
                                    </div>
                                </li>  
                                <li class="baozhang3 baozhang4">
                                    <div style="border-bottom: 1px solid #ddd;"><h1></h1></div>
                                    <div style="border-bottom: 1px solid #ddd;"><h1></h1></div>
                                    <div style="border-bottom: 1px solid #ddd;"><h1></h1></div>
                                    <div class="zhuangtai active">
                                        <input style="border:1px solid #ddd;padding: 8px 10px;" type="text" placeholder="请输入投标金额">
                                    </div>
                                </li>  
                                <li class="baozhang3">
                                    <div><p><span class="baifenbi">付息方式：到期还本还息</span></p></div>
                                    <div><h1></h1></div>
                                    <div><p><span class="">起息时间：募集成功后当天</p></h1></div>
                                    <div class="zhuangtai active"><button>立即投资</button></div>
                                </li>  
                            </ul>       
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 项目资料图片 -->
    <div class="HeZuoHuoBan wrap1200">
            <h1 class="title clearfix">项目资料图片</h1>
            <div class="hzhb-imgs">
                <style type="text/css">
                /* 本例子css */
                .HeZuoHuoBan .picScroll-left{ width:100%;  overflow:hidden; position:relative;  border:1px solid #ccc;   }
                .HeZuoHuoBan .picScroll-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
                .HeZuoHuoBan .picScroll-left .hd .prev,.HeZuoHuoBan .picScroll-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
                     cursor:pointer; background:url("../images/arrow.png") no-repeat;}
                .HeZuoHuoBan .picScroll-left .hd .next{ background-position:0 -50px;  }
                .HeZuoHuoBan .picScroll-left .hd .prevStop{ background-position:-60px 0; }
                .HeZuoHuoBan .picScroll-left .hd .nextStop{ background-position:-60px -50px; }
                .HeZuoHuoBan .picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
                .HeZuoHuoBan .picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
                .HeZuoHuoBan .picScroll-left .hd ul li.on{ background-position:0 0; }
                .HeZuoHuoBan .picScroll-left .bd{ padding:10px;   }
                .HeZuoHuoBan .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
                .HeZuoHuoBan .picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
                .HeZuoHuoBan .picScroll-left .bd ul li .pic{ text-align:center; }
                .HeZuoHuoBan .picScroll-left .bd ul li .pic img{ width:174px; height:60px; display:block;  padding:2px; border:1px solid #ccc; }
                .HeZuoHuoBan .picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
                .HeZuoHuoBan .picScroll-left .bd ul li .title{ line-height:24px;   }

                </style>

                <div class="picScroll-left">
                    <div class="hd">
                        <a class="next"></a>
                        <ul></ul>
                        <a class="prev"></a>
                        <span class="pageState"></span>
                    </div>
                    <div class="bd">
                        <ul class="picList">
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523020636.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证1</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1489835005727.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证2</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523020636.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证3</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523027737.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证4</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1490252744698.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证5</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523008447.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证6</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523020636.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证1</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1489835005727.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证2</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523020636.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证3</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523027737.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证4</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1490252744698.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证5</a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="" target="_blank"><img src="http://my.ganjiangps.com/upload/1488523008447.png" /></a></div>
                                <div class="title"><a href="" target="_blank">身份证6</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
     <!-- 项目资料图片结束 -->
     <!-- 项目详情 -->
     <div class="wrap1200" style="background: #fff;">
        <div class="inform-list">
            <ul class="clearfix">
                <li class="active" name="1">项目详情</li>
                <li class="" name="2">投资记录</li>
            </ul>
        </div>
        <!-- 项目详情 -->
        <div class="box box1">
            <ol class="clearfix">
                <li>
                    <div><img src="../images/renjun.png" alt=""></div>
                    <div class="sums">
                        <p class="shuliang">2222</p>
                        <p>借款总额</p>
                    </div>
                </li>
                <li>
                    <div><img src="../images/renshu.png" alt=""></div>
                    <div class="sums">
                        <p class="shuliang">2222</p>
                        <p>借款人数</p>
                    </div>
                </li>
                <li>
                    <div><img style="width: 68px" src="../images/jiekuan.png" alt=""></div>
                    <div class="sums">
                        <p class="shuliang">2222</p>
                        <p>人均借款金额</p>
                    </div>
                </li>
            </ol>
            <!-- Module基本信息 -->
            <div class="module module1">
                <h3 class="moduleTitle">
                    基本信息
                </h3>
                <ul>
                    <li>
                        <p>姓名：<span>远航</span></p>
                        <p>性别：<span>女</span></p>
                    </li>
                    <li>
                        <p>年龄：<span>22</span></p>
                    </li>
                    <li>
                        <p>征信及诉讼情况：征信情况良好，无法院失信记录，无未结清不良贷款，无涉诉信</p>
                    </li>
                    <li>
                        <p>资产与收入状况：</p>
                    </li>
                    <li>
                        <p>具有稳定的收入，家产XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                    </li>
                </ul>
            </div>
            <!-- 项目描述 -->
            <div class="module module2">
                <h3 class="moduleTitle">
                    项目描述
                </h3>
                <ul>
                    <li>
                        <p>理财盒子设计小微消费金融模式。我们与顶级消费金融公司合作，为投资人提供小额分散的优质融资项目。我们根据智能分配算法，为投资人的每笔投资再次打散分配，将风险分散到极致，最大化规避风险。合作方综合实力强大、风控完善，为每一笔推荐的债权进行集团连带责任担保并预付保证金，使用户的每一笔投资得到最大程度的保障。</p>
                    </li>
                </ul>
            </div>
            <!-- 借款用途 -->
            <div class="module module3">
                <h3 class="moduleTitle">
                    借款用途
                </h3>
                <ul>
                    <li>
                        <p>资金周转，用于XXXXXXXXXXXXXXX</p>
                    </li>
                </ul>
            </div>
            <!-- 还款来源 -->
            <div class="module module4">
                <h3 class="moduleTitle">
                    还款来源
                </h3>
                <ul>
                    <li>
                        <p>客户工作稳定，收入还贷比高。银行已受理客户贷款资料，还款保障为银行发放（批贷率99.99%），且有项目管理公司回购债权。汽车金融公司提供本息全额担保。风险系数低</p>
                    </li>
                </ul>
            </div>
            <!-- 保障措施 -->
            <div class="module module5">
                <h3 class="moduleTitle">
                    保障措施
                </h3>
                <ul>
                    <li>
                        <p id="guize1">1. 第三方资金托管，安全透明</p>
                        <p id="guize2">2. 借款用于归还银行信贷余额，资金用途真实有效</p>
                        <p id="guize3">3. 还款来源于银行新发放的贷款，且该贷款已获得银行审批通过，有银行信誉做背书，安全可靠</p>
                        <p id="guize4">4. 银行系风控团队，审贷分离，平行作业</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--投资记录  -->
        <div class="box box2" style="display: none">
            <ol class="touzhi-title clearfix">
                <li>投资人</li>
                <li>投资时间</li>
                <li>投资金额</li>
                <li>预期收益</li>
                <li>状态</li>
            </ol>
            <ul class="clearfix">
                <li>150******57</li>
                <li>2017-06-20 10:33:27</li>
                <li>1000000.00元</li>
                <li>1100.00元</li>
                <li>投资成功</li>
            </ul>
            <ul class="clearfix">
                <li>150******57</li>
                <li>2017-06-20 10:33:27</li>
                <li>1000000.00元</li>
                <li>1100.00元</li>
                <li>投资成功</li>
            </ul>
            <ul class="clearfix">
                <li>150******57</li>
                <li>2017-06-20 10:33:27</li>
                <li>1000000.00元</li>
                <li>1100.00元</li>
                <li>投资成功</li>
            </ul>
        </div>
    </div>
    <!-- 分页 -->
    <div class="page wrap1200" style="background: #fff;text-align: center;">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
            <p class="pagebox">
                <span>共<em>10</em>页</span>
                <span>跳至<input class="now-page" type="text" value="1">页</span>
                <span class="go">GO</span>
            </p>
        </ul>
    </div>
    <!--引入foot.html公司介绍  -->
    <iframe src='foot.html' width='100%' height='292px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <!-- 兼容ie input placeholder-->
    <script src="../js/input.js"></script>
    <!-- 让不（完全）支持html5的浏览器“支持”html5标签 -->
    <script type="text/javascript" src="../js/html5shiv.js"></script>
    <!-- 轮播图 插件-->
    <script src="../js/swiper.min.js"></script>
    <script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
    <!-- layui-->
    <script type="text/javascript" src="/public/js/layui.js"></script>
    <script type="text/javascript">
        jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:6,trigger:"click"});
    </script>
    <script>
    // 切换
    $(".inform-list ul.clearfix li").click(function(){
        var index = $(this).attr("name");
        //console.log(index);
        $(".box").hide();
        $(".box"+index).show();
        $(".inform-list ul.clearfix li").removeClass("active");
        $(this).addClass("active");
    });
    
    </script>
</body>
</html> 