<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公共底部</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/iconfont.css">
</head>
<body>
    <!--公司介绍  -->
    <div class="gsbox">
        <div class="jieShao clearfix wrap1200">
            <div class="hrefLeft">
                <ul class="gongshi">
                    <li><a href="" target="_blank">公司介绍</a></li>
                    <li><a href="" target="_blank">安全保障</a></li>
                    <li><a href="" target="_blank">媒体报道</a></li>
                    <li><a href="" target="_blank">帮助中心</a></li>
                    <li><a href="" target="_blank">联系我们</a></li>
                </ul>
                <ol class="gsimgs">
                    <li>
                        <a href="javascript:;">
                            <img src="https://ifcar99.b0.upaiyun.com/themes/images/aqlm_img.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="https://ifcar99.b0.upaiyun.com/themes/images/f2.png">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="https://ifcar99.b0.upaiyun.com/themes/images/f2.png">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="https://ifcar99.b0.upaiyun.com/themes/images/f2.png">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="https://ifcar99.b0.upaiyun.com/themes/images/aqlm_img.jpg">
                        </a>
                    </li>
                </ol>
            </div>
            <div class="hrefRight">
                <img src="http://my.ganjiangps.com/upload/1489835033452.jpg" alt="">
                <p>微信扫一扫</p>
            </div>
            </div>
            <div class="dizhi clearfix wrap1200">
                <p class="wleft">地 址：江苏省宿迁市宿城区人民大道666号嘉禾颐苑时代大厦5楼  </p>
                <p class="wright">市场有风险，投资需谨慎 备案号:苏ICP备14023586号</p>
            </div>
        </div>
    </div>
</body>
</html>