<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管金贷-登录</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <!-- 引入公共头部head.html -->
    <iframe src='head.html' width='100%' height='148px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <!-- 登录 -->
    <div class="login">
        <p class="bg"><img src="http://my.ganjiangps.com/upload/1489975686445.png" alt=""></p>
        <!-- 找回密码弹窗 -->
        <div class="denglu">
            <form action="" method="post">
                <h1 class="title clearfix">找回密码</h1>
                <p><span class="iconfont icon-yonghu"></span><input type="text" placeholder="请输入手机号"></p>
                <p>
                    <span class="iconfont icon-jianpan " style="margin-right: 6px;"></span>
                    <input type="text" id="yanzhengma1" onblur="validate()" placeholder="请输入校验码">
                    <span class="mui-pull-right yanz-btn">
                        <input type="text" value="2344" onclick="createCode()" readonly="readonly" id="checkCode" class="code1" style="height:30px;width:5pc;background:#626262;color:#fff;font-family:Arial;text-indent: :italic;border:0;padding:2px 3px;letter-spacing:3px;font-weight:bolder;text-align:center;">
                    </span>
                </p>
                <p>
                    <span class="iconfont icon-jianpan " style="margin-right: 6px;"></span>
                    <input type="text" id="yanzhengma" onblur="" placeholder="请输入手机验证码">
                    <span class="mui-pull-right yanz-btn">
                        <input type="text" value="点击获取"  readonly="readonly" id="checkCode" class="code1" style="height:30px;width:5pc;background:#626262;color:#fff;font-family:Arial;text-indent: 0;border:0;padding:2px 3px;font-weight:bolder;text-align:center;">
                    </span>
                </p>
                <p><button type="submit" class="btn btn-primary" id="submit"> 立即登录</button></p>
            </form>
        </div>
    </div> 
    <!--引入foot.html公司介绍  -->
    <iframe src='foot.html' width='100%' height='292px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <script>
         var code1 ; //在全局 定义验证码   
         function createCode(){    
             code1 = "";   
             var codeLength = 4;//验证码的长度   
             var checkCode = document.getElementById("checkCode");   
             var selectChar = new Array(0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','wW','x','y','z');//所有候选组成验证码的字符，当然也可以用中文的   

             for(var i=0;i<codeLength;i++){   
                 var charIndex = Math.floor(Math.random()*36);   
                 code1 +=selectChar[charIndex];   
              }   
      //       alert(code);   
             if(checkCode) {   
               checkCode.className="code1";   
               checkCode.value = code1;   
             }   
          }   

          function validate (){   
             var inputCode = document.getElementById("yanzhengma1").value;   
             if(inputCode.length <=0) {   
                 alert("请输入验证码！");   
             } else if(inputCode != code1 ){   
                alert("验证码输入错误！");   
                createCode();//刷新验证码   
             }else {   
               //alert("OK");   
             }   
          } 
    </script>
</body>
</html>