<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公共头部</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<style>
    .header .header_left li span.iconfont.icon-shouji img{
      vertical-align: middle;
    }
</style>
<body>
    <div class="header clearfix">
        <div class="wrap1200">
            <div class="header_left">
                <ul>
                    <li><a href="javascript:;"><span class="iconfont icon-shouji"><img src="../images/shouji2.png" alt=""></span>APP</a></li>
                    <li><a href="javascript:;">客服热线：400-000-000</a></li>
                </ul>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="" target="_blank">新手指引</a></li>
                    <li><a href="" target="_blank">帮助中心</a></li>
                    <li><a href="" target="_blank">信息披露</a></li>
                    <li><a href="login.html" target="_blank">登录</a></li>
                    <li><a href="zhuce.html" target="_blank">注册</a></li>
                    <!-- 已登录 -->
                    <li><a href="javascript:;">您好，<span>远航</span></a></li>
                </ul>
            </div>  
        </div>
    </div>
    <div class="nav clearfix">
        <div class="wrap1200">
            <div class="nav_left">
                <a href=""><img src="../images/logo.png" alt="LOGO"></a>
            </div>
            <ol class="nav_right">
                <li><a class="active" href="" target="_blank">网站首页</a></li>
                <li><a href="" target="_blank">我要投资</a></li>
                <li><a href="" target="_blank">我要借款</a></li>
                <li><a href="" target="_blank">积分商城</a></li>
                <li><a href="" target="_blank">社区论坛</a></li>
                <li><a href="" target="_blank">我的账户</a></li>
            </ol>
        </div>
    </div>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <!-- 兼容ie input placeholder-->
    <script src="../js/input.js"></script>
    <!-- 让不（完全）支持html5的浏览器“支持”html5标签 -->
    <script type="text/javascript" src="../js/html5shiv.js"></script>
</body>
</html>