<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管金贷-项目</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list.css">
</head>
<style>
.listLift .baozhangList{border:none;}
.listBaozheng .listchild .listLift .inform-title{
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.baozhangList li p{display: inline-block;}
</style>
<body>
    <!-- 引入公共头部head.html -->
    <iframe src='head.html' width='100%' height='153px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <style>
    .baozhangList li a> ul li.baozhang1 div{width: 24%;}
    .baozhang1 .jindu p{margin-left:0;}
    .baozhangList .baozhang1 .juan span{width: 24%;}
    </style>
    <!-- 保证标 -->
    <div class="listBaozheng clearfix wrap1200 biaodi biaodi1" style="margin-top: 20px;background: #fff">
        <div class="listchild">
            <div class="listLift">
                <h1 class="inform-title">项目信息</h1>
                <ul class="baozhangList">
                    <li>
                        <a href="javascript:;">
                            <ul>
                                <li class="baozhang1">
                                    <div><h1>保证标</h1></div>
                                    <div class="juan">
                                        <span>加息券</span><span>现金券</span><span>可转让</span>
                                    </div>
                                    <div></div>
                                    <div class="jindu">
                                       
                                    </div>
                                </li>
                                <li class="baozhang2">
                                    <div>年化收益</div>
                                    <div>项目期限</div>
                                    <div>项目总额</div>
                                    <div></div>
                                </li>
                                <li class="baozhang3">
                                    <div><h1><span class="size baifenbi">12.00%</span></h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div><h1><span class="size">12.00</span>个月</h1></div>
                                    <div class="zhuangtai"></div>
                                </li>   
                                <li class="baozhang3" style="padding: 20px 0;border-top: 1px solid #626262;">
                                    <div><span class="baifenbi">付息方式：到期还本还息</span></div>
                                    <div></div>
                                    <div><span class="">起息时间：募集成功后当天</span></div>
                                    <div class="zhuangtai"></div>
                                </li>
                            </ul>       
                        </a>
                    </li>
                </ul>
                <h1 class="inform-title">项目信息</h1>
                <ul class="baozhangList">
                    <li>
                        <p>投资金额：<span>1,000.00元</span></p>
                        <p>下单时间：<span>2017-06-11 21:04:47</span></p>
                    </li>
                </ul>
                <h1 class="inform-title">交易确认</h1>
                <ul class="baozhangList">
                    <li>
                        <p>投资金额：<span>1,000.00元</span></p>
                    </li>
                    <li>
                        <p>使用优惠：</p>
                    </li>
                    <li>
                        <div class="table-content">
                            <ul id="bouns-box" class="clearfix">
                                <li class="bouns-item">
                                    <div class="bouns-box">
                                        <h5 class="bouns-type">
                                            新手注册红包
                                        </h5>
                                        <p class="bouns-money">
                                            <span>
                                                ￥
                                            </span>
                                            108
                                        </p>
                                        <p class="limit-money">
                                            <span class="iconfont icon-iconfontyuan">
                                            </span>
                                            单笔投资满21600元可用
                                        </p>
                                        <p class="exp-time">
                                            <span class="iconfont icon-iconfontyuan">
                                            </span>
                                            有效期至2017-08-25
                                        </p>
                                        <div class="use-btn">
                                            去使用
                                        </div>
                                    </div>
                                </li>
                                <li class="bouns-item">
                                    <div class="bouns-box">
                                        <h5 class="bouns-type">
                                            新手注册红包
                                        </h5>
                                        <p class="bouns-money">
                                            <span>
                                                ￥
                                            </span>
                                            50
                                        </p>
                                        <p class="limit-money">
                                            <span class="iconfont icon-iconfontyuan">
                                            </span>
                                            单笔投资满10000元可用
                                        </p>
                                        <p class="exp-time">
                                            <span class="iconfont icon-iconfontyuan">
                                            </span>
                                            有效期至2017-08-25
                                        </p>
                                        <div class="use-btn">
                                            去使用
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>使用加息券发生债权转让后加息券失效；使用红包券发生债权转让或提前赎回后红包券不回收；</div>
                    </li>
                    <li>
                        <p>预期收益：<span>2.70+0.22元</span></p>
                    </li>
                    <li>
                        <p>
                            交易密码：
                            <input type="password" placeholder="请输入交易密码">
                            <a href="javascript:;" style="color:#169BD5;display: inline-block;">忘记交易密码></a>
                        </p>
                    </li>
                    <li>
                        <p><input type="checkbox">我已阅读并同意<a href="javascript:;">《xxxx服务协议》</a></p>
                    </li>
                    <li>
                        <p><button>同意并付款</button></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div class="page wrap1200" style="background: #fff;text-align: center;">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
            <p class="pagebox">
                <span>共<em>10</em>页</span>
                <span>跳至<input class="now-page" type="text" value="1">页</span>
                <span class="go">GO</span>
            </p>
        </ul>
        
    </div>
    <!--引入foot.html公司介绍  -->
    <iframe src='foot.html' width='100%' height='292px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <!-- 兼容ie input placeholder-->
    <script src="../js/input.js"></script>
    <!-- 让不（完全）支持html5的浏览器“支持”html5标签 -->
    <script type="text/javascript" src="../js/html5shiv.js"></script>
    <script>
    // 标的切换
    $(".biao-title ul.clearfix li a").click(function(){
        var index = $(this).attr("name");
        //console.log(index);
        $(".biaodi").hide();
        $(".biaodi"+index).show();
        $(".biao-title ul.clearfix li a").removeClass("active");
        $(this).addClass("active");
    });

    </script>
</body>
</html>