<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管金贷-用户注册</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="always" name="referrer">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="管金贷" />
    <meta name="description" content="管金贷" />
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<style>
.login{height: 600px;margin: 0 auto;}
.login .bg img{width: 100%;height: 600px;}
/*居中*/
.zhuceBox {   
    margin: 0 auto; 
    width: 660px;
    padding: 28px 35px;
    box-sizing: border-box;
    text-align: center;
}  
.zhuce{
    top:23%;
    left:30%;
    -webkit-transform:translate(-23%, -30%)
}
</style>
<body>
    <!-- 引入公共头部head.html -->
    <iframe src='head.html' width='100%' height='148px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <!-- 登录 -->
    <div class="login">
        <p class="bg"><img src="https://www.ifcar99.com/v2/images/login_bg.jpg" alt=""></p>
        <!-- 注册登录弹窗 -->
        <div class="zhuceBox">
            <div class="zhuce">
                <form action="" method="post">
                    <h1 class="title clearfix">用户注册<p><a href="login.html">已有账号，</a><a href="login.html" style="color:red;">立即登录</a></p></h1>
                    <div class="form-group">
                        <label>手机号码<span>*</span></label>  
                        <input type="text" placeholder="请输入您的手机号码">
                    </div>
                    <div class="form-group">
                        <label>登录密码<span>*</span></label>  
                        <input type="password" placeholder="请输入密码，由字母、数字、特殊字符组成的密码">
                    </div>
                    <div class="form-group">
                        <label>确认密码<span>*</span></label>  
                        <input type="password" placeholder="请再次输入您的密码">
                    </div>
                    <div class="form-group duanxin">
                        <label>短信验证<span>*</span></label>  
                        <input type="text" placeholder="请输入短信验证码">
                        <button>获取短信验证码</button>
                    </div>
                    <div class="form-group">
                        <label>推荐人<span></span></label>  
                        <input type="text" placeholder="请输入您的推荐人的邀请码">
                    </div>
                    <div class="form-group">
                        <label style="visibility: hidden;">用户协议<span></span></label>  
                        <p style="display: inline-block;"><input type="checkbox">我已同意并且同意
                        <a href="" style="color:red">《XX会员服务协议》</a></p>
                    </div>
                    <p><button style="width:300px;margin:0 auto;display:block;margin-top: 33px;" type="submit" class="btn btn-primary" id="submit"> 确认注册</button></p>
                </form>
            </div>
        </div>
    </div> 
    <!--引入foot.html公司介绍  -->
    <iframe src='foot.html' width='100%' height='292px' frameborder='0' name="_blank" id="_blank" ></iframe>
    <script src="../js/jquery-1.12.2.min.js"></script>
    <!-- 兼容ie input placeholder-->
    <script src="../js/input.js"></script>
    <!-- 让不（完全）支持html5的浏览器“支持”html5标签 -->
    <script type="text/javascript" src="../js/html5shiv.js"></script>
    <script>
         var code1 ; //在全局 定义验证码   
         function createCode(){    
             code1 = "";   
             var codeLength = 4;//验证码的长度   
             var checkCode = document.getElementById("checkCode");   
             var selectChar = new Array(0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','wW','x','y','z');//所有候选组成验证码的字符，当然也可以用中文的   

             for(var i=0;i<codeLength;i++){   
                 var charIndex = Math.floor(Math.random()*36);   
                 code1 +=selectChar[charIndex];   
              }   
      //       alert(code);   
             if(checkCode) {   
               checkCode.className="code1";   
               checkCode.value = code1;   
             }   
          }   

          function validate (){   
             var inputCode = document.getElementById("yanzhengma1").value;   
             if(inputCode.length <=0) {   
                 alert("请输入验证码！");   
             } else if(inputCode != code1 ){   
                alert("验证码输入错误！");   
                createCode();//刷新验证码   
             }else {   
               //alert("OK");   
             }   
          } 
    </script>
</body>
</html>